.loader {
    background: url('../images/ajax-loader-bar.gif') no-repeat;
}

.spin-loader, .spin-loader1 {
    background: url('../images/ajax-loader.gif') no-repeat;
    width: 17px;
    height: 17px;
    display: none;
}

.login-form-cancel {
    margin-left: 20px;
}



